<!DOCTYPE html>
<html>
  <head>
    <title>Customers</title>
  </head>
  <body>
    <h1>Customer List</h1>
    <ul>
      {{#each customers}}
      <li>
        <strong>ID:</strong> {{this.id}}<br>
        <strong>Account Number:</strong> {{this.accountnum}}
      </li>
      {{/each}}
    </ul>
  </body>
</html>
