<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/login.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="accountnum">Account Number</label>
        <input type="number" id="accountnum" name="accountnum" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <form action="/delete" method="post">
    <label for="accountnum">Account Number:</label>
    <input type="text" id="accountnum" name="accountnum" required>
    <button type="submit">Delete Account</button>
  </form>
  </div>
</body>
</html>
