/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li, a, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

h2{
  font-size: 30;
  color: palevioletred;

}

/* Global styles */
body {
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: red; /* Heading color */
  font-size: 36px; /* Heading font size */
  margin-bottom: 20px;
}



nav ul {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav li {
  margin: 0 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid black; /* Card border */
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 15px;
}

.add-to-cart-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

/* Media Query for smaller screens to have 2 cards per row */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}
