body {
  background-color: #1a1a1a;
  color: #fff;
}

/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li, a, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #ff8080;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ff4d4d;
  font-size: 36px;
  margin-bottom: 30px;
}

nav ul {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav li {
  margin: 0 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(30% - 20px);
  height: 300px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #000;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.card img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 15px;
}

.add-to-cart-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #ff8080;
}

/* Style the cart container */
#cart-container {
  position: fixed;
  top: 50%;
  right: 10px;
  width: 300px;
  transform: translateY(-50%);
  padding: 10px;
  background-color:royalblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #333;
  border-radius: 5px;
  display: none;
  color:turquoise;
}

.cart-item {
  /* Add animation for new cart items */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #333;
  animation: fadeInUp 0.3s ease;
}

.cart-item:last-child {
  border-bottom: none; /* Remove bottom border for the last item */
}

.quantity-button {
  font-size: 16px;
  padding: 2px 8px;
  background-color: #f77062;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-button:hover {
  background-color: #ff4d4d;
}

.remove-button {
  font-size: 16px;
  padding: 2px 8px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #777;
}

@keyframes slideInRight {
  0% {
    right: -350px;
  }
  100% {
    right: 10px;
  }
}

/* Style the pay now button */
#pay-now-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#pay-now-button:hover {
  background-color: #218838;
}

/* Style the close button in the cart container */
#cart-container .close-button {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Style the total container */
#total-container {
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

/* Media Query for smaller screens to have 2 cards per row */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

/* Media Query for even smaller screens to have 1 card per row */
@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}

/* Animation for the cards on hover */
.card:hover {
  transform: scale(1.05);
}


.navbar {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  .navbar__menu {
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover {
    background: blue;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

#navbar__logo{
  padding-top: 20px;
  
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
        padding-top: 20px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
} 
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}


#mobile-menu {
display: none;
}

/* Add responsive styles */
@media (max-width: 768px) {
.navbar__toggle {
  display: block;
}

.navbar__menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #007bff;
  width: 100%;
}

.navbar__menu.active {
  display: flex;
}

.navbar__item {
  margin: 10px;
  text-align: center;
}

.navbar__btn {
  display: flex;
  justify-content: center;
}

.navbar__links {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
}




