body {
  background-color: #1a1a1a;
  color: #fff;
}

/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li, a, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #ff8080;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ff4d4d;
  font-size: 36px;
  margin-bottom: 30px;
}

nav ul {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav li {
  margin: 0 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(30% - 20px);
  height: 300px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #000;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.card img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 15px;
}

.add-to-cart-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #ff8080;
}

/* Style the cart container */
#cart-container {
  position: fixed;
  top: 50%;
  right: 10px;
  width: 300px;
  transform: translateY(-50%);
  padding: 10px;
  background-color:royalblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #333;
  border-radius: 5px;
  display: none;
  color:turquoise;
}

.cart-item {
  /* Add animation for new cart items */
  animation: fadeInUp 0.3s ease;
}

@keyframes slideInRight {
  0% {
    right: -350px;
  }
  100% {
    right: 10px;
  }
}

/* Style the pay now button */
#pay-now-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#pay-now-button:hover {
  background-color: #218838;
}

/* Style the close button in the cart container */
#cart-container .close-button {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Style the total container */
#total-container {
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

/* Media Query for smaller screens to have 2 cards per row */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

/* Media Query for even smaller screens to have 1 card per row */
@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}

/* Animation for the cards on hover */
.card:hover {
  transform: scale(1.05);
}
